<nav class="navbar navbar-light navbar-expand-md">
  <div class="container-fluid"><a class="navbar-brand" href="#">Africa-Edu</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse"
         id="navcol-1">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid text-center" style="height: 100%;margin-top: 15%;">
  <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">please Login</h1><label class="sr-only" for="inputEmail">Email Address</label><input type="email" class="form-control" id="inputEmail" placeholder="email address" name="email" required /><label class="sr-only" for="inputPassword">Password</label><input
    type="password" class="form-control" id="inputPassword" placeholder="password" required name="password" />
    <div class="form-check mb-3"><input type="checkbox" class="form-check-input" id="formCheck-1" value="remember-me" /><label class="form-check-label" for="formCheck-1">Remember me</label></div><button class="btn btn-primary btn-block" type="submit">LOGIN</button>
    <p>if you don&#39;t have account, use signup below</p><button class="btn btn-outline-primary btn-sm" type="button">Sign up</button></form>
</div>
