<mat-card>
  <mat-card-content align="center">
    <form style="border-radius: 20px;padding: 20px;box-shadow: 0px 0px;border-width: 2px;border-style: solid;">
      <h1>Africa-Edu Teacher Registration</h1>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Full name</mat-label>
        <input matInput type="text" placeholder="enter name">
      </mat-form-field><br>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="enter email">
      </mat-form-field><br>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Country</mat-label>
        <input matInput type="text" placeholder="enter country">
      </mat-form-field><br>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Password</mat-label>
        <input matInput type="text">
      </mat-form-field><br>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="text">
      </mat-form-field><br>
      <button mat-raised-button type="submit" color="accent">submit</button>
    </form>
  </mat-card-content>
</mat-card>
