<!--<nav class="navbar navbar-light shadow-lg navbar-expand-md">-->
<!--  <div class="container-fluid"><a class="navbar-brand" href="#">Africa-Edu</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>-->
<!--    <div class="collapse navbar-collapse"-->
<!--         id="navcol-1">-->
<!--      <ul class="nav navbar-nav">-->
<!--        <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<mat-card>
  <mat-card-header>
    <mat-card-actions>
      <a mat-raised-button routerLink="/"><mat-icon>home</mat-icon></a>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content>
  <mat-tab-group class="shadow-lg" style="max-width: 800px">
    <mat-tab label="student"><app-student-reg-form></app-student-reg-form></mat-tab>
    <mat-tab label="teacher"><app-teacher-reg-form></app-teacher-reg-form></mat-tab>
  </mat-tab-group>
  </mat-card-content>
</mat-card>


