.userPanel-container {
  width: 100%;
  height: 100%;
}
.topBar{
}
.panel-sidenav-content {
 height: auto;
  align-items: center;
  justify-content: center;
}
.userSideNav{
padding: 20px;
/*margin-top:30px;*/
}
